#!/usr/bin/make -f
%:
	dh $@  --with autoreconf

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-builtin=libicu \
		--enable-gtk-doc \
		--enable-ld-version-script \
		--enable-runtime=libicu \
		--with-packager=Debian \
		--with-packager-bug-reports=https://bugs.debian.org/ \
		--with-packager-version="$(DEB_VERSION)" \
		--with-psl-file=/usr/share/publicsuffix/public_suffix_list.dat \
		--with-psl-testfile=/usr/share/doc/publicsuffix/examples/test_psl.txt

override_dh_auto_build:
	dh_auto_build
	help2man --no-info --no-discard-stderr --output=debian/psl.1 \
		--name="Explore the Public Suffix List" tools/psl 
